<!DOCTYPE html>
<html lang="pl">
  <head>
    {% block title %}
      <title>Medical System</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          {% block sidebar %}
            <ul class="sidebar-nav">
              <li><a href="{% url 'index' %}">Strona główna</a></li>
              <li><a href="{% url 'about' %}">O nas</a></li>
              <li><a href="{% url 'account' %}">Logowanie</a></li>
              <li><a href='medicine/medicine_list ' >Lista leków</a></li>
              <li><a href='medicine/pharmacist_list' >Lista aptekarzy</a></li>
              <li><a href='medicine/presciption_list' >Recepty</a></li>
            </ul>
          {% endblock %}
        </div>
        <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
      </div>
    </div>
  </body>
</html>
